<header>
    <h1>{{ title }}</h1>
    <div class="navbar">
        <p><a href="/">Etusivu</a>
        {{#if user}} 
        | <a href="/membership">Jäsenyys</a> | <a href="/members/logout">Kirjaudu ulos</a>
        {{/if}}
        </p>
    </div>
</header>
